<h1>New Farm</h1>

<% form_for(@farm) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :organic %><br />
    <%= f.check_box :organic %>
  </p>
  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </p>
  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </p>
  <p>
    <%= f.label :altitude %><br />
    <%= f.text_field :altitude %>
  </p>
  <p>
    <%= f.label :organic_certifier %><br />
    <%= f.collection_select :organic_certifier_id, @organic_certifiers, :id, :name, {:include_blank => true }%>
  </p>
  <p>
    <%= f.label :farmer %><br />
    <%= f.collection_select :farmer_id, @farmers, :id, :name, {:include_blank => true }%>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', farms_path %>