<div id="header">
  <div class="logo prepend-1 span-8"><%= link_to "Convivo", root_path %></div>
  <ul class="navigation span-13 last round">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Farmers", farmers_path %></li>
    <li><%= link_to "Washing Stations", "#" %></li>
    <li><%= link_to "Farms", "#" %></li>
    <li><%= link_to "Organic Certifiers", "#" %></li>
  </ul>
</div>